
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

a {
    color: #069;
    text-decoration: none;
}
.content-on{
	padding-left: 250px;
}
.header-on{
	padding-left: 250px;
}
.on,
.header-on,
.content-on,
.off{
	transition: all 0.5s;
}

input,button{ outline:none;}
input,button:focus {outline:none;} /*for IE*/
input,button::-moz-focus-inner {border-color: transparent;} /*for mozilla*/

/* header */
#header {
	position:fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	background: rgb(36,41,46);/* rgb(218,235,251); rgb(241,248,255);*/
	z-index: 98;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
	box-shadow: 0 4px 1px rgba(0,0,0,0.15);
}
#title {
	font-size: 20px;
	color: #FFF;
	padding: 10px 15px;
}
#menu {
	position:fixed;
	padding-right: 20px;
	right: 0px;
}
#menu .menu-item {
    display: inline-block;
	padding: 10px;
	list-style: none;
}
#menu .menu-item-link{
	font-size: 12px;
	color: #FFF;
}
#menu .menu-item-link:hover {
	border-bottom: 1px solid;
}

/* sidebar */
#totop-toggle{
	position: fixed;
    bottom: 80px;
    right: 50px;
}
#sidebar-toggle{
	top: 60px;
	left: 260px;
	position: absolute;
}
.toggle {
	border: none;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	transition: all 0.3s ease-in-out;
	opacity: 0.5;
}
.toggle:hover {
	opacity: 1;
}
#sidebar {
	position: fixed;
	flex-grow:1;
	flex-shrink:1;
	flex-basis: 0;
	width: 249px;
	left: -250px;
	height: 100%;
	top: 0px;
	border-right: 1px solid rgb(223, 226, 229);
	background: rgb(250,251,252);
	z-index: 99;
}
#sidebar.on {
  left: 0;
}
#sidebar.off {
  left: -250px;
}
#search-input {
	position: absolute;
	width: 228px;
	height: 33px;
	margin: 5px 10px 5px 10px;
	border-radius:5px;
	background: #fff;
	border: 1px solid #d1d5da;
	text-indent: 20px;
	color: #4d4d4c;
}
/*
.sidebar-toc {
	position: absolute;
	top: 0;
	color: #999;
	width: 50%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	z-index: 100;
}

.sidebar-toc:hover {
	cursor: pointer;
	color: #9cc7b8;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.toc-active{
	color: #9cc7b8;
	border-bottom: 1px solid #9cc7b8;
}
*/
#site-toc {
	height: calc( 100% - 5px );
	padding-top: 5px;
}
#tree{
	height: calc( 100% - 50px );
	overflow: auto;
	margin-top: 50px;
}
#tree ul ul {
	display: none;
}
#sidebar ul {
	padding: 0px 5px 5px 20px;
}
#sidebar ul li {
	list-style: none;
	white-space: nowrap;
}
#sidebar ul li a {
	color: rgb(16,47,70);
	font-size: 14px;
}

#sidebar ul li a:hover{
	color: rgb(18, 105, 211);
	border-bottom: 1px solid rgb(18, 105, 211);
}
#sidebar .active a{
	color: rgb(18, 105, 211);
	border-bottom: 1px solid rgb(18, 105, 211);
}
.article-toc ul li i {
	color: #999;
	font-size: 8px;
	vertical-align: middle;
}
.article-toc .level_1 {
	margin-left: 0px;
}
.article-toc .level_2 {
	margin-left: 20px;
}
.article-toc .level_3 {
	margin-left: 40px;
}
.article-toc .level_4 {
	margin-left: 60px;
}
#sidebar .article-toc a.read{
	color: rgb(18, 105, 211);
	border-bottom: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

/* content */
#content{
	max-width: 850px;
	top: 50px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin: 80px auto 30px auto;
}

/* 首页 */
.index-li {
	margin: 20px 0 20px 0;
	border-bottom: 1px solid #c6c6c6;
}
.index-li a{
	color: #404040;
}

.index-brief{
    position: relative;
	padding: 5px 5px 10px 5px;
	font-size: 14px;
	font-style: italic;
	color: #a3a3a3;
}

.index-li *:hover {
	color: rgb(18, 105, 211);
}
.article-meta *{
	position: relative;
	font-style: italic;
	font-size: 12px;
	color: #acabab;
	padding: 0 5px 0 0;
}

.index-title {
	margin-top: 30px;
	position: relative;
	font-size: 24px;
}

/* 首页分页样式 */
#index-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

#index-paginator .current,
#index-paginator .extend:hover,
#index-paginator .page-number:hover {
  color: #fff !important;
  background-color: #21a675 !important;
}
#index-paginator .extend,
#index-paginator .page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
  font-size: 0.9rem;
  border-radius: 5px;
  color: #0c0807;
  background-color: #e0eee8;
  transition: all 0.2s;
}


/* article */
#article-title {
	border-bottom: 2px solid #ddd;
}

#article-content .markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
}


/* 上下文章 */
.post-guide{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid #ddd;
}

.post-guide .item {
	width: 50%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}
.post-guide .item a {
	font-size: 0.875rem;
}

.post-guide .left {
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.post-guide .right {
	-moz-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

/* footer */
#footer{
	font-size: 14px;
	height: 49px;
	background-color: rgb(250,251,252);
	color: #000000;
	text-align: center;
	border-top: 1px solid rgb(223, 226, 229);
}
#footer a {
    color: rgb(18, 105, 211);
}
#footer p {
    padding: 5px;
}

/* @media */
@media screen and (max-width: 850px) {

	#sidebar {
		opacity: 0.95;
	}
}